---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Header from "../components/Header.astro";
import Technologies from "../components/Technologies.astro";
import ArianeStart from "../components/ArianeStart.astro";
import Elevate from "../components/Elevate.astro";
import StartNow from "../components/StartNow.astro";
---

<Layout title="Welcome to ArianeDevs.">
  <NavBar />
  <main>
    <Header />
    <Technologies />
    <ArianeStart />
    <Elevate />
    <StartNow />
  </main>
</Layout>
