---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import PoliciesContent from "../components/PoliciesContent.astro";
---

<Layout title="Políticas de ArianeDevs.">
  <main>
    <PoliciesContent />
  </main>
</Layout>
