<div class="ArianeStart">
  <div class="description">
    <h2>Cómo Funciona ArianeStart</h2>
    <p>
      Nuestra iniciativa, ArianeStart, está dirigida a ayudar a pequeñas y
      medianas empresas a crecer mediante soluciones tecnológicas innovadoras.
      Así es como puedes participar:
    </p>
    <div class="image">
      <img
        src="/images/jakub-zerdzicki-HKUkWePHS0w-unsplash.jpg"
        alt="ArianeStart"
      />
    </div>
  </div>
  <div class="requirements">
    <div class="requirement">
      <div class="icon">
        <img src="/icons/discovery-icon.png" alt="Requirement 1" />
      </div>
      <div class="info">
        <h3>Descubrimiento</h3>
        <p>
          Envía un video de pitch de 2 minutos contándonos sobre tu empresa y
          por qué necesitas una solución digital.
        </p>
      </div>
    </div>
    <div class="requirement">
      <div class="icon">
        <img src="/icons/strategy-icon.png" alt="Requirement 2" />
      </div>
      <div class="info">
        <h3>Estrategia</h3>
        <p>
          Analizaremos cada pitch y seleccionaremos los 10 mejores proyectos
          para desarrollarlos completamente gratis.
        </p>
      </div>
    </div>
    <div class="requirement">
      <div class="icon">
        <img src="/icons/execution-icon.png" alt="Requirement 3" />
      </div>
      <div class="info">
        <h3>Ejecución</h3>
        <p>
          Nuestro equipo de desarrolladores expertos hará realidad tu proyecto
          utilizando tecnología de punta.
        </p>
      </div>
    </div>
    <div class="requirement">
      <div class="icon">
        <img src="/icons/measurement-icon.png" alt="Requirement 4" />
      </div>
      <div class="info">
        <h3>Lanzamiento</h3>
        <p>
          Te ayudaremos a poner en marcha tu proyecto y ofreceremos soporte
          continuo para garantizar su éxito.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    margin: 0;
  }

  h2 {
    margin: 0;
  }
  .ArianeStart {
    padding: 5.25rem 7.563rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;
  }

  .description {
    text-align: left;
  }

  .description img {
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
  }

  .description h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .description p {
    font-size: 18px;
    color: #6c6c6c;
    margin-bottom: 32px;
  }

  .requirement {
    display: flex;
    gap: 32px;
    margin-bottom: 2rem;
    align-items: center;
  }
  .requirement .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .requirement .icon img {
    height: 80px;
    width: 80px;
  }

  .requirement .info {
    text-align: left;
  }

  .requirement .info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .requirement .info p {
    font-size: 16px;
    color: #6c6c6c;
    margin: 0;
  }
</style>
