<div class="elevate">
  <div id="banner">
    <p id="title">¡Únete a ArianeStart Hoy!</p>
    <div class="action">
      <p>
        ¿Listo para llevar tu negocio al siguiente nivel? Nuestra iniciativa
        ArianeStart es tu oportunidad de obtener una solución digital
        personalizada de forma gratuita. Envía tu pitch y elevemos tu marca
        juntos.
      </p>
      <button>Envía Tu Pitch</button>
    </div>
  </div>
</div>

<style>
  p {
    margin: 0;
  }

  .elevate {
    padding: 7.5rem 6.25rem;
    margin-top: 60px;
    color: #ffffff;
  }

  #banner {
    height: 23.188rem;
    padding: 3.563rem 6.125rem;
    border-radius: 32px;
    display: flex;
    gap: 12.063rem;
    align-items: center;
    background: rgb(52, 97, 255);
    background: linear-gradient(
      90deg,
      rgba(52, 97, 255, 1) 33%,
      rgba(131, 153, 233, 1) 100%
    );
  }

  #title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .action {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: center;
  }

  .action p {
    font-size: 20px;
    line-height: 30px;
  }

  button {
    background-color: #ffffff;
    color: #000000;
  }

  button:hover {
    background-color: #e0ff22;
    color: #000000;
  }

  /* Media Queries para dispositivos tablets */
  @media (max-width: 1024px) {
    .elevate {
      padding: 5rem 4rem;
    }

    #banner {
      height: auto;
      padding: 3rem 4rem;
      gap: 2rem;
      flex-direction: column;
      text-align: center;
    }

    #title {
      font-size: 48px;
      margin-bottom: 1.5rem;
    }

    .action p {
      font-size: 18px;
      line-height: 28px;
    }

    .action {
      align-items: center;
      justify-content: center;
    }
  }

  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .elevate {
      padding: 3rem 2rem;
    }

    #banner {
      height: auto;
      padding: 2rem;
      gap: 1rem;
      flex-direction: column;
      text-align: center;
    }

    #title {
      font-size: 36px;
      margin-bottom: 1rem;
    }

    .action p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  /* Media Queries para teléfonos pequeños */
  @media (max-width: 480px) {
    .elevate {
      padding: 2rem 1rem;
    }

    #banner {
      height: auto;
      padding: 1.5rem;
      gap: 1rem;
      flex-direction: column;
      text-align: center;
    }

    #title {
      font-size: 28px;
      margin-bottom: 0.5rem;
    }

    .action p {
      font-size: 14px;
      line-height: 22px;
    }
  }
</style>
