<div class="logo">
  <div class="cirle"></div>
  <div class="triangle"></div>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
  }

  .cirle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #3461ff;
  }

  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 16px 2rem 16px;
    border-color: transparent transparent #3461ff transparent;
    transform: rotate(90deg);
  }
</style>
