---
import Logo from "./Logo.astro";
---

<div class="navBar">
  <div class="brand">
    <Logo />
    <a href="/">ArianeDevs</a>
  </div>

  <nav id="menu">
    <a href="/">Home</a>
    <a href="/how-it-works">How it Works</a>
    <a href="/our-work">Our Work</a>
    <a href="/pricing">Pricing</a>
    <a href="/about-us">About Us</a>
  </nav>

  <!-- Add a button to Contact -->
  <button>Contact</button>
</div>

<style>
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 7.5rem;
    border-bottom: 0.1rem solid #e5e5e5;
  }

  .brand {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .brand a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 1.765rem;
  }

  #menu {
    display: flex;
    gap: 2.5rem;
  }

  #menu a {
    text-decoration: none;
    color: #000;
  }

  #menu a:hover {
    color: #3461ff;
  }
</style>
