<div class="start-now">
  <div class="container">
    <div class="start-now-content">
      <h2>Empieza Tu Proyecto con ArianeDevs</h2>
      <button>Empieza Ahora</button>
    </div>
    <div class="decoration">
      <div class="circle">
        <img src="/icons/ray-icon.svg" alt="Ray Icon" />

        <img src="/icons/arrow-top-icon.svg" alt="Arrow Top Icon" />
      </div>
    </div>
  </div>
</div>

<style>
  .start-now {
    padding: 7.5rem 6.25rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232038;
    color: #ffffff;
    padding: 52px 87px;
    border-radius: 56px;
    background-image: url("/images/Mask group.png");
  }

  h2 {
    font-size: 56px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 80px;
  }

  .circle {
    width: 352px;
    height: 352px;
    border-radius: 50%;
    background: #e0ff22;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  button:hover {
    background-color: #e0ff22;
    color: #000000;
  }
</style>
